<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anmol.courtcounter">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Real Time SCORER"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:label="Cricket" android:name=".Cricket.SuperOver"></activity>
        <activity android:label="Cricket" android:name=".Cricket.SelectFormat" />
        <activity android:label="Cricket" android:name=".Cricket.FirstTeam" />
        <activity
            android:name=".Kabaddi.kabaddiActivity"
            android:label="Kabaddi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Football.footballActivity"
            android:label="Football"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TableTennis.tableTennisAcitivity"
            android:label="Table Tennis"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cricket.CricketActivity"
            android:label="Cricket"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Badminton.BadmintonActivity"
            android:label="Badminton"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Volleyball.VolleyballActivity"
            android:label="Volleyball" />
        <activity
            android:name=".Basketball.BasketballActivity"
            android:label="Basketball" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>